.main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 2vh;
}

.search-main {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.input {
    width: 100%;
}

.breeds-list {
    height: 70vh;
    min-height: 70vh;
    overflow-y: auto;
}





.result-main {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.selected-breeds {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 75vh;
    overflow: auto;

}

.random-cats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 75vh;
    overflow: auto;
}


.breed {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    margin: 5px;
    border-radius: 3px;
    overflow: hidden;
}

.random-cat {

    margin: 5px;
    border-radius: 3px;
    overflow: hidden;
}

.breed-photo {
    width: 300px;
    height: 300px;
    border-bottom: 1px solid grey;
}

.nophoto {
    width: 300px;
    height: 300px;
    border-bottom: 1px solid grey;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.random-photo {
    width: 300px;
    height: 300px;
}


.breed-name {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;

}

.center-text {
    text-align: center;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 20px;
}

pagination-controls ::ng-deep .ngx-pagination .current {
    background: #673ab7;
}