<div class="main-main">
    <div class="search-main">
        <app-cats-searcher (search)="onSearch($event)"></app-cats-searcher>
        <h3>Породи:</h3>
        <mat-selection-list (selectionChange)="selectionChange($event)" [(ngModel)]="selected" class="breeds-list">
            <mat-list-option *ngFor="let breedName of filteredBreeds" [value]="breedName" checkboxPosition="before"
                [selected]="breedsSet.get(breedName)">
                {{breedName}}
            </mat-list-option>
        </mat-selection-list>
        <button mat-raised-button color="primary" (click)="breedsSet.clear(); selected = []">Очистити вибір</button>


    </div>

    <div class="result-main">
        <div *ngIf="!selected || selected.length == 0" class="selected-breeds">
            <h3>Ви не обрали жодного котика, тому ми покажемо вам кілька випадкових</h3>
        </div>
        <div *ngIf="selected" class="selected-breeds">
            <div class="breed" *ngFor="let breedName of selected">
                <img class="breed-photo" src="{{getPhoto(breedName)}}" alt="{{breedName}}">
                <span class="breed-name">{{breedName}}</span>
            </div>
        </div>
        <mat-paginator [length]="this.selected.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
            aria-label="Select page">
        </mat-paginator>

    </div>
</div>