<div class="main-main">
    <div class="search-main">
        <app-cats-searcher class="input" (search)="onSearch($event)"></app-cats-searcher>
        <h3>Породи:</h3>
        <mat-selection-list (selectionChange)="selectionChange($event)" [(ngModel)]="selected" class="breeds-list">
            <mat-list-option *ngFor="let breedName of filteredBreeds" [value]="breedName" checkboxPosition="before"
                [selected]="breedsSet.get(breedName)">
                {{breedName}}
            </mat-list-option>
        </mat-selection-list>
        <button mat-raised-button color="primary" (click)="breedsSet.clear(); selected = []">Очистити вибір</button>


    </div>

    <div class="result-main">
        <div *ngIf="selected.length == 0">
            <h3 class="center-text">Ви не обрали жодного котика, тому ми покажемо вам кілька випадкових</h3>
            <div class="random-cats">
                <div class="random-cat"
                    *ngFor="let photo of randomPhotos | paginate: {itemsPerPage: pageSize, currentPage: page}">
                    <img class="random-photo" src="{{photo.url}}">
                </div>
            </div>
        </div>
        <div *ngIf="selected" class="selected-breeds">

            <div class="breed"
                *ngFor="let breedName of selected | paginate: {itemsPerPage: pageSize, currentPage: page}">
                <img class="breed-photo" src="{{getPhoto(breedName)}}" alt="{{breedName}}">
                <span class="breed-name">{{breedName}}</span>
            </div>

        </div>
        <div class="pagination">
            <mat-form-field appearance="fill">
                <mat-label>Котиків за сторінку</mat-label>
                <mat-select (selectionChange)="onPageSizeChange($event)" [(value)]="pageSize">
                    <mat-option *ngFor="let pageSizeOption of pageSizes" [value]="pageSizeOption">
                        {{pageSizeOption}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <pagination-controls (pageChange)="page = $event" previousLabel="" nextLabel=""></pagination-controls>
        </div>
    </div>
</div>