<div class="main">
    <div class="search-main">
        <app-cats-searcher class="input" (search)="onSearch($event)"></app-cats-searcher>
        <h3>Породи:</h3>
        <button *ngIf="selected.length>0" mat-raised-button color="primary"
            (click)="breedsSet.clear(); selected = []">Очистити
            вибір</button>
        <button *ngIf="selected.length==0 && filteredBreeds.length == breedsNames.length" mat-raised-button
            color="primary" (click)="selectAllBreeds()">Обрати
            всі</button>
        <button *ngIf="selected.length==0 && filteredBreeds.length<breedsNames.length && filteredBreeds.length !=0"
            mat-raised-button color="primary" (click)="selectAllBreeds()">Обрати
            всі відфільтровані</button>
        <mat-selection-list *ngIf="filteredBreeds.length>0" (selectionChange)="selectionChange($event)"
            [(ngModel)]="selected" class="breeds-list">
            <mat-list-option *ngFor="let breedName of filteredBreeds" [value]="breedName" checkboxPosition="before"
                [selected]="breedsSet.get(breedName)">
                {{breedName}}
            </mat-list-option>
        </mat-selection-list>
        <div *ngIf="filteredBreeds.length == 0" class="breeds-list">
            <h4>За введеними вами данними не знайдено жодної породи. =(</h4>
        </div>



    </div>

    <div class="result-main">
        <div *ngIf="selected.length == 0">
            <h3 class="center-text">Ви не обрали жодного котика, тому ми покажемо вам кілька випадкових</h3>
            <div class="random-cats">
                <div class="random-cat"
                    *ngFor="let photo of randomPhotos | paginate: {itemsPerPage: pageSize, currentPage: page}">
                    <img class="random-photo" src="{{photo.url}}">
                </div>
            </div>
        </div>
        <div *ngIf="selected" class="selected-breeds">

            <div class="breed"
                *ngFor="let breedName of selected | paginate: {itemsPerPage: pageSize, currentPage: page}">
                <img *ngIf="getPhoto(breedName) != ''" class="breed-photo" src="{{getPhoto(breedName)}}"
                    alt="{{breedName}}">
                <div *ngIf="getPhoto(breedName) == ''" class="nophoto">
                    <span>Фото відсутнє, спробуйте знайти в інтернеті, використовуючи назву
                        породи</span>
                </div>
                <span class="breed-name">{{breedName}}</span>
            </div>

        </div>
        <div class="pagination" *ngIf="selected.length>0">
            <mat-form-field appearance="fill">
                <mat-label>Котиків за сторінку</mat-label>
                <mat-select (selectionChange)="onPageSizeChange($event)" [(value)]="pageSize">
                    <mat-option *ngFor="let pageSizeOption of pageSizes" [value]="pageSizeOption">
                        {{pageSizeOption}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <pagination-controls (pageChange)="paginatorFixedResize($event)" previousLabel="" nextLabel="">
            </pagination-controls>
        </div>
    </div>
</div>